@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'pt_sansbold';
        src: url('/fonts/ptsans-bold-webfont.woff2') format('woff2'),
             url('/fonts/ptsans-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'pt_sansregular';
        src: url('/fonts/ptsans-regular-webfont.woff2') format('woff2'),
             url('/fonts/ptsans-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'shorelines_script_boldregular';
        src: url('/fonts/shorelines_script_bold-webfont.woff2') format('woff2'),
            url('/fonts/shorelines_script_bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}

nav {
    .nav-link {
        @apply uppercase text-darkBlue relative flex flex-col text-2xl mb-8 md:text-base md:mb-0;

        &::after {
            @apply inline-block w-full h-0 absolute -bottom-2 transition-all ease-linear duration-150;
            content: "";
        }

        &:hover::after, &:focus::after {
            @apply h-1 bg-darkBlue;
        } 
    }  
}

.header-img {
    clip-path: url(#clipContainer);
}

.button {
    @apply inline-block border uppercase rounded-full font-sans font-bold tracking-ultrawide px-4 py-2 transition-all duration-150;

    &:hover, &:focus {
        @apply text-white;
    }
}

.button-solid {
    @apply text-white;

    &:hover, &:focus {
        @apply bg-transparent;
    }
}

.vetplant-bg {
    background-image: url('/images/footer-bg.jpg');
    background-size: cover;
    background-position: bottom center;
}

#navToggle {
    
    > div {
        @apply bg-darkBlue rounded-full p-0.5 mb-1 w-8 origin-center transition-all duration-150;
    }
}

.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}
  
.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
  
.slide-fade-enter-from, .slide-fade-leave-to {
    opacity: 0;
}

.divider {
    @apply bg-pomegranate mx-auto w-32 h-0.5 mt-4;
}

.divider-left {
    @apply mx-0;
}

.about-me {
    background-image: url('/images/about-me-bg.jpg');
    background-size: cover;
    background-position: bottom center;
}

.continue-reading {
    > span {
        @apply ml-0 transition-all duration-150;
    }

    &:hover > span {
        @apply ml-1;
    }
}

.flip-card {
    @apply relative h-128 md:h-80 bg-cover bg-center transition-all duration-500;

    &:hover {
        @apply bg-blend-multiply bg-opacity-50;
    }
    
    &:hover {
        .card-front {
            @apply opacity-0;
            
        }

        .card-back {
            @apply opacity-100;
        }
    }
}

.card-1 {
    background-image: url('/images/qualification-img.jpg');

    &:hover {
        @apply bg-darkBlue;
    }
}

.card-2 {
    background-image: url('/images/experience-img.jpg');

    &:hover {
        @apply bg-turquoise ;
    }
}

.card-3 {
    background-image: url('/images/contributing-author-img.jpg');

    &:hover {
        @apply bg-turquoise ;
    }
}

.card-4 {
    background-image: url('/images/other-interests-img.jpg');

    &:hover {
        @apply bg-pomegranate ;
    }
}

.card-front {
    @apply absolute top-0 z-10 h-full w-full flex flex-col justify-center transition-all duration-500;
    
}

.card-back {
    @apply absolute top-0 z-9 h-full w-full p-8 opacity-0 transition-all duration-500;

    p {
        @apply text-center;
    }
}