@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'pt_sansbold';
        src: url('/fonts/ptsans-bold-webfont.woff2') format('woff2'),
             url('/fonts/ptsans-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'pt_sansregular';
        src: url('/fonts/ptsans-regular-webfont.woff2') format('woff2'),
             url('/fonts/ptsans-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}

nav {
    a {
        @apply uppercase text-darkBlue relative flex flex-col ;
    }

    a::after {
        @apply inline-block w-full h-0 transition-all ease-linear duration-300;
        content: "";
    }

    a:hover::after, a:focus::after {
        @apply absolute -bottom-2 h-1 bg-darkBlue;
    }
}

.header-img {
    clip-path: url(#clipContainer);
}

.button {
    @apply inline-block border uppercase rounded-full font-sans font-bold tracking-ultrawide px-4 py-2 transition-all duration-150;

    &:hover, &:focus {
        @apply text-white;
    }
}

.button-solid {
    @apply text-white;

    &:hover, &:focus {
        @apply bg-transparent;
    }
}

footer {
    background-image: url('/images/footer-bg.jpg');
    background-size: cover;
    background-position: bottom center;
}